
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  
  color: #fff;
  
}

.wrapper {
  
font-size:30px;
}

.wave {
  color: #fff;
  -webkit-animation: 0.5s color infinite;
          animation: 0.5s color infinite;
}

@-webkit-keyframes color {
  50% {
    color: #29c5e6;
  }
}

@keyframes color {
  50% {
    color: #29c5e6;
  }
}
